<!DOCTYPE html>
html(lang="zh-tw")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
		link(rel="stylesheet", href="../css/css_reset.css")
		link(rel="stylesheet", href="../css/index.css")
	body
		header
			figure.logo
				img(src="https://fakeimg.pl/100x50/333/fff?text=LOGO")
		article
			section.banner
				.banner-pic
			section.contact-part
				.wrapper
					i.icon.fab.fa-line
					i.icon.fab.fa-facebook-messenger
					i.icon.fas.fa-phone
			section.service
				.wrapper
					.tab-bar
						.tab 營業部
						.tab 教學部
					.service-content
						.service-info
							.title 服務項目
							.service-item 營業部項目1
							.service-item 營業部項目2
							.service-item 營業部項目3
							.service-item 營業部項目4
							.service-item 營業部項目5
							.service-item 營業部項目6
						.service-pic
							.pic



		script(src="https://kit.fontawesome.com/ce95b71280.js" crossorigin="anonymous")